# -------------------------------------------------
# Git
# -------------------------------------------------
.git
.gitignore

# -------------------------------------------------
# Python
# -------------------------------------------------
__pycache__/
layers/
*.pyc
*.pyo
*.pyd

# -------------------------------------------------
# Virtual environments
# -------------------------------------------------
.venv/
.venv-sm/

# -------------------------------------------------
# ML artifacts & outputs
# -------------------------------------------------
models/
data/
local_out/
mlruns/
mlflow.db
*.keras
*.npz
*.tar.gz

# -------------------------------------------------
# AWS / credentials / installers
# -------------------------------------------------
aws/
awscliv2.zip
.env

# -------------------------------------------------
# Dev / experiments
# -------------------------------------------------
archive/
notebooks/

# -------------------------------------------------
# OS / editor junk
# -------------------------------------------------
.DS_Store
.vscode/
.idea/