# -------------------------------------------------
# Python
# -------------------------------------------------
layers/
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/

# -------------------------------------------------
# Virtual environments
# -------------------------------------------------
.venv/
.venv-sm/

# -------------------------------------------------
# ML artifacts (never commit)
# -------------------------------------------------
models/
*.keras
*.npz
*.tar.gz

# -------------------------------------------------
# Data artifacts (reproducible)
# -------------------------------------------------
data/

# -------------------------------------------------
# Local outputs
# -------------------------------------------------
local_out/

# -------------------------------------------------
# MLflow
# -------------------------------------------------
mlruns/
mlflow.db

# -------------------------------------------------
# AWS CLI installer artifacts
# -------------------------------------------------
aws/
awscliv2.zip

# -------------------------------------------------
# OS / editor junk
# -------------------------------------------------
.DS_Store
.vscode/
.idea/